name: Build plugin

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags:
      - "v*" # Push events to matching v* tag format, i.e. v1.0, v20.15.10

env:
  PLUGIN_NAME: logseq-koreader-sync

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: 'npm'
      - name: Build
        run: |
          npm ci
          npm run lint
          npm run test:run
          npm run build
          mkdir ${{ env.PLUGIN_NAME }}
          cp README.md package.json icon.png demo.gif ${{ env.PLUGIN_NAME }}/
          mv dist ${{ env.PLUGIN_NAME }}/
          zip -r ${{ env.PLUGIN_NAME }}.zip ${{ env.PLUGIN_NAME }}/
          ls

      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          generate_release_notes: true
          draft: false
          prerelease: false
          files: |
            ${{ env.PLUGIN_NAME }}.zip
            package.json
