name: Build plugin

on:
  workflow_dispatch:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v*" # Push events to matching v* tag format, i.e. v1.0, v20.15.10

env:
  PLUGIN_NAME: logseq-koreader-sync

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x" # You might need to adjust this value to your own version
          cache: 'npm'
      - name: Build
        id: build
        run: |
          npm ci
          npm run lint
          npm run test:run
          npm run build
          mkdir ${{ env.PLUGIN_NAME }}
          cp README.md package.json icon.png demo.gif ${{ env.PLUGIN_NAME }}
          mv dist ${{ env.PLUGIN_NAME }}
          zip -r ${{ env.PLUGIN_NAME }}.zip ${{ env.PLUGIN_NAME }}
          ls
          echo "tag_name=$(git tag --sort version:refname | tail -n 1)" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          generate_release_notes: true
          draft: false
          prerelease: false

      - name: Upload zip file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ./${{ env.PLUGIN_NAME }}.zip
          name: ${{ env.PLUGIN_NAME }}-${{ steps.build.outputs.tag_name }}.zip
          content_type: application/zip

      - name: Upload package.json
        id: upload_metadata
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ./package.json
          name: package.json
          content_type: application/json
